# Server Configuration
PORT=3001

# Redis Configuration (Required for BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=

# AWS S3 Configuration (Required for uploading final video)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=mock-key
AWS_SECRET_ACCESS_KEY=mock-secret
AWS_BUCKET_NAME=your-bucket-name
